.header {
  /* 가로정렬 */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* 브라우저의 세로 기준으로 해당 클래스 하위의 아이템들이 정렬 */
  align-items: center;
}

.header .header__title {
  font-size: 24px;
  /* 폰트 굵기 인데 구글 폰트를 임포트 해서 사용하기 때문에 우리가 임포트 해온 700 이라는 굵기만 설정 가능하다 
  다른굵기를 사용하고 싶다면 임폴트 할때 추가해줘야 한다. */
  font-weight: 600;
}

/* 해더 아이콘 크기 */
.header .header__icon {
  font-size: 20px;
  /* 아이콘 끼리의 간격 */
  margin-left: 20px;
  /* 마우스를 올려놨을때 커서 표시 */
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
